html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    background: #F8F8F8 url('../img/body_bg.png.jsf') repeat-x top left;
    margin-bottom: 55px;
}

ol, ul
{
    list-style: none;
}

/* POSICIONAMENTO DOS BLOCOS PRINCIPAIS */
#geral {
    display: table;
}
#header {
    height: 50px;
    margin-bottom: 20px;
}
#rodape_ext {
    display: table;
    background: #373736 url('../img/footer_bg.png.jsf') repeat-x top left; 
    width: 100%;
    position: fixed;
    bottom: 0px;
}
#rodape {
    text-align: center;
    color: #FFF;
    margin-top: 15px;
    height: 30px;
}
.mainMenu
{
    /*
    margin-right: 50px;
    margin-left: 325px;*/
    padding-top: 10px;
    text-align: center;
    color: White;
}


ul.mainMenu li{
    display: inline;
}
ul.mainMenu li a{
    display: inline-block;
    font-size: 1.5em;
    margin-right: 10px;
    text-decoration: none;
    font-weight: bolder;
}

ul.mainMenu li a:link, ul.mainMenu li a:visited{
    color: white;
}
ul.mainMenu li a:hover{
    color: #F03A3A;
}

